h1 {
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 1.0rem;
  margin-bottom: 0rem;
}

p {
  color: #666;
  margin-bottom: 0.7rem;
  line-height: 1.7rem;
}

.cv {
  margin-bottom: 5rem;
}

.cv .row {
  margin-top: 1.6rem;
}

.cv ul {
  list-style: none;
  margin-bottom: 0;
}

.cv li {
  margin-bottom: 0;
}

/* ----------- work history ----------- */

.row.work-history {
  margin-top: 1.6rem;
}

.work-history h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.work-history .date-from-to,
.work-history .location {
  margin: 3px 0;
  line-height: 1.5rem;
  font-size: 1.4rem;
}

.work-history .skill-summary p {
  color: #ccc;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.work-history .role-title {
  font-weight: bolder;
  margin-top: -3px;
}

.work-history .description {
  margin-top: 6px;
}
