h2 {
  font-size: 2.5rem;
}

.work-history .row {
  margin-top: 1.0rem;
}

.work-history h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.work-history .date-from-to,
.work-history .location {
  margin: 3px 0;
  line-height: 1.5rem;
}

.work-history .skill-summary {
  margin-top: 1.0rem;
}

.work-history .skill-summary p {
  color: #ccc;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.work-history .role-title {
  font-weight: bolder;
}

.work-history .description {
  color: #666;
}

.work-history p {
  margin-bottom: 0.7rem;
  line-height: 1.7rem;
}
