<div ng-controller="HomeController as home">

  <h1>Matt Calthrop: CV</h1>

  <div class="row">
    <div class="three columns">
      <h2>Overview</h2>
    </div>
    <div class="nine columns">
      <div class="overview">
        <p ng-repeat="overview in home.cv.overview track by $index">{{ overview.fields.para }}</p>
      </div>
    </div>
  </div>

  <h2>Work History</h2>

  <div ng-repeat="item in home.cv.workHistory track by $index" class="work-history">

    <div class="row">
      <div class="three columns">
        <div class="date-from-to">
          {{ item.fields.dateFrom }}&ndash;{{ item.fields.dateTo }}
        </div>
        <div class="location">
          {{ item.fields.location }}
        </div>
        <div class="skill-summary">
          <p>{{ item.fields.skillSummary.join(', ') }}</p>
        </div>
      </div>
      <div class="nine columns">
        <h3>
          <a href="{{ item.fields.employerUrl }}" target="_blank">{{ item.fields.employerName }}</a>
        </h3>
        <div class="role-title">{{ item.fields.roleTitle }}</div>
        <div class="description">
          <p ng-repeat="para in item.fields.description track by $index">{{ para }}</p>
        </div>
      </div>
    </div>

  </div>

  <h2>Education</h2>

  <h2>Other Interests</h2>

  <p ng-repeat="interest in home.cv.interests">{{ interest.fields.para }}</p>

</div>
