<div ng-controller="HomeController as home">

  <h1>Matt Calthrop: CV</h1>

  <div class="row">
    <div class="three columns">
      <h2>Overview</h2>
    </div>
    <div class="nine columns">
      <div class="overview">
        <p ng-repeat="para in home.overview[0].paragraphs">{{ para }}</p>
      </div>
    </div>
  </div>

  <h2>Work History</h2>

  <div ng-repeat="item in home.workHistory" class="work-history">

    <div class="row">
      <div class="three columns">
        <div class="date-from-to">
          {{ item.dateFrom }}&ndash;{{ item.dateTo }}
        </div>
        <div class="location">
          {{ item.location }}
        </div>
        <div class="skill-summary">
          <p>{{ item.skillSummary.join(', ') }}</p>
        </div>
      </div>
      <div class="nine columns">
        <h3>
          <a href="{{ item.employerUrl }}" target="_blank">{{ item.employerName }}</a>
        </h3>
        <div class="role-title">{{ item.roleTitle }}</div>
        <div class="description">
          <p ng-repeat="para in item.description">{{ para }}</p>
        </div>
      </div>
    </div>

  </div>

  <h2>Education</h2>

  <h2>Other Interests</h2>

</div>
