<h1>Matt Calthrop: CV</h1>

<h2>Overview</h2>

<div ng-controller="WorkHistoryController as workHistory">

  <h2>Work History</h2>

  <div ng-repeat="item in workHistory.data" class="work-history">

    <div class="row">
      <div class="three columns">
        <div class="date-from-to">
          {{ item.date.from }}&ndash;{{ item.date.to }}
        </div>
        <div class="location">
          {{ item.location }}
        </div>
        <div class="skill-summary">
          <p>{{ item.skillSummary.join(', ') }}</p>
        </div>
      </div>
      <div class="nine columns">
        <h3>
          <a href="{{ item.employer.url }}" target="_blank">{{ item.employer.name }}</a>
        </h3>
        <div class="role-title">{{ item.roleTitle }}</div>
        <div class="description">
          <p ng-repeat="para in item.description">{{ para }}</p>
        </div>
      </div>
    </div>

  </div>

<h2>Education</h2>

<h2>Other Interests</h2>
